<%= render "header" %>
<div class="toolbar">
  <%= link_to '<i class="fa fa-chevron-left" aria-hidden="true"></i>'.html_safe, 'javascript:history.back()', class: 'btn btn-primary', title: 'Back', data: { toggle: 'tooltip', placement: 'bottom' } %>
</div>

<%= form_for @task, html: { id: "needs-validation", novalidate: "novalidate" } do |t| %>
  <div class="form-row">
    <div class="col-md">
      <div class="form-group">
        <%= t.label :name %>
        <%= t.text_field :name, class: 'form-control', placeholder: 'Example Task', required: true %>
        <div class="invalid-feedback">
          Please provide a valid name.
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col">
          <%= t.label :due_date %>
          <%= t.text_field :due_date, class: 'form-control', placeholder: 'dd/mm/yyyy', data: {provide: "datepicker", date_format: 'dd/mm/yyyy'}, required: true, readonly: true %>
          <div class="invalid-feedback">
            Please provide a valid date.
          </div>
        </div>
        <div class="form-group col">
          <%= t.label :priority %>
          <%= t.number_field :priority, class: 'form-control', placeholder: '1 to 10', required: true, min: 1, max: 10 %>
          <div class="invalid-feedback">
            Please provide a valid priority, from 1 to 10.
          </div>
        </div>
      </div>
    </div>
    <div class="form-group col-md">
    <%= t.label :description %>
    <%= t.text_area :description, class: 'form-control', placeholder: 'This is a description of what example task entails', style: 'height: 125px;' %>
    </div>
    </div>
    <div class="form-row">
    <div class="form-group col-md">
      <label>Categories</label><br />
      <%= text_field_tag "category", @task.categories.map { |c| c.name }.join(","), class: 'form-control', data: { role: 'tagsinput' } %>
    </div>
    <div class="form-group col-md">
      <%= t.check_box :done %>
      <label for="task_done">
        Done?
      </label>
    </div>
  </div>
    <%= t.submit "Save", class: 'btn btn-primary' %>
  </div>
<% end %>

<%= render "footer" %>
<script>
// Disable form submissions if there are invalid fields
(() => {
  'use strict';
  window.addEventListener('load', () => {
    var form = document.getElementById('needs-validation');
    form.addEventListener('submit', event => {
      if (!form.checkValidity()) {
        event.preventDefault();
        event.stopPropagation();
      }
      form.classList.add('was-validated');
    }, false);
  }, false);
})();
var categorynames = new Bloodhound({
  datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
  queryTokenizer: Bloodhound.tokenizers.whitespace,
  prefetch: {
    cache: false,
    url: '/categories/all',
    filter: list => $.map(list, categoryname => ({name: categoryname}))
  }
});

$('#category').tagsinput({
  typeaheadjs: {
    name: 'categorynames',
    displayKey: 'name',
    valueKey: 'name',
    source: categorynames.ttAdapter()
  }
});
</script>
