<%= render "header" %>
<div id="alerts" class="alerts">
</div>
<div class="toolbar">
  <%= link_to '<i class="fa fa-plus"></i>'.html_safe, new_task_path, class: 'btn btn-primary', data: { toggle: 'tooltip', placement: 'bottom' }, title: 'New Task' %>
  <%= link_to '<i class="fa fa-list"></i>'.html_safe, categories_path, class: 'btn btn-secondary', data: { toggle: 'tooltip', placement: 'bottom'}, title: 'List Categories' %>
</div>
<table class="table table-sm table-hover table-bordered table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col"><%= sortable "priority", "#" %></th>
      <th scope="col"><%= sortable "name", "Tasks" %></th>
      <th scope="col"><%= sortable "due_date" %></th>
      <th scope="col"><%= sortable "done" %></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |t| %>
    <tr>
      <th scope="row"><%= t.priority %></th>
      <td class="name">
        <h4><strong><%= t.name %></strong></h4>
        <div class="mytags">
          <% t.categories.each do |c| %>
            <% # Code to decide tags colour %> 
            <% if c.colour.nil? %>
              <% bgcolour = "#FFFFFF"; fgcolour = "#000000" %>
            <% else %>
              <% bgcolour = c.colour; fgcolour = choose_fgcolour(c.colour); %>
            <% end %>
            <span class="mytag" style="background-color:<%= bgcolour %>; color: <%= fgcolour %>">
              <%= link_to c.name, edit_category_path(c), class: 'taglink' %>
            </span>
          <% end %>
        </div>
        <%= simple_format(t.description) %>
      </td>
      <td><%= t.due_date if t.due_date %></td>
      <td><%= check_box_tag "done-#{t.id}", "done-#{t.id}", t.done,  onclick: "update(#{t.id})" %></td>
      <td>
        <span class="dropdown">
          <button type="button" class="btn btn-secondary btn-sm" data-toggle="dropdown">
            <i class="fa fa-ellipsis-v"></i>
          </button>
          <div class="dropdown-menu dropdown-menu-right">
            <%= link_to '<i class="fa fa-edit"></i> Edit Task'.html_safe, edit_task_path(t), class: 'dropdown-item' %>
            <%= link_to '<i class="fa fa-trash"></i> Delete Task'.html_safe, task_path(t), method: :delete, data: { confirm: 'Are you sure?' }, class: 'dropdown-item bg-danger text-white' %>
          </div>
        </span>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= render "footer" %>