<script>

</script>

<%= render "header" %>
<div id="alerts" class="alerts">
</div>
<div class="alert alert-warning alert-dismissable fade show" style="display: none;"> 
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<%= link_to "Create new task", new_task_path %>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col"></th>
      <th scope="col"><%= sortable "priority", "#" %></th>
      <th scope="col"><%= sortable "name", "Name/Description" %></th>
      <th scope="col"><%= sortable "due_date" %></th>
      <th scope="col"><%= sortable "done" %></th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |t| %>
    <tr>
      <th scope="row">
        <%= link_to '<i class="fa fa-edit"></i>'.html_safe, edit_task_path(t), class: 'btn btn-primary', data: { toggle: 'tooltip', placement: 'bottom'}, title: 'Edit Task' %> 
        <%= link_to '<i class="fa fa-trash"></i>'.html_safe, task_path(t), method: :delete, data: { confirm: 'Are you sure?', toggle: 'tooltip', placement: 'bottom'}, title: 'Delete Task', class: 'btn btn-danger' %>
      </th>
      <td><%= t.priority %></td>
      <td>
        <h4 class="name"><strong><%= t.name %></strong></h4>
        <p class="description"><%= t.description %></p>
      </td>
      <td><%= t.due_date.strftime("%d/%m/%Y") if t.due_date %></td>
      <td><%= check_box_tag "done-#{t.id}", "done-#{t.id}", t.done,  onclick: "update(#{t.id})" %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= render "footer" %>